
#root {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin: 0 auto;
  padding: 2rem;
}

.moviesListComp {  
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em 1em;
  padding: 1em;
}

/* .cards {
  padding: 1em;
} */

.typography-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%; 
}

.select {
  display: flex;
  flex-direction: row;
  gap: 2em;
  padding: 1em;
  background-color: blue;
  text-align: center;
}

@media screen and (max-width: 640px) {
  .moviesListComp {
    width: 80%;
    grid-template-columns: 1fr;
  }
  .moviesCards {
    padding: .6em;
  }
  .select{
    display: flex;
    flex-direction: column;
    width: 50vw;
  }
}