/* @import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* { 
  font-family: 'Space Mono', monospace;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
  letter-spacing: -0.25px;
} */

#root {
  margin: 0 auto;
  padding: 2rem;
}

.moviesListComp {  
  width: 100%;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 2em;
  border: 2px dotted green;
}

.cards {
  padding: 1em;
  border: 1px solid blue;
}