@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* { 
  font-family: 'Space Mono', monospace;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
  letter-spacing: -0.25px;
}

h2 {
  font-weight: 900;
  color: hsl(0, 0%, 23%);
}

#root {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 2rem;
}

.llistaTascas {
  padding: 2em;
  border-radius: 1em;
  background-color: #d1dfd3bb;
}

.formComp {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.formInput {
  width: 30vw;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 25px;
  border: none;
}

.tascaCompletada {
  text-decoration: line-through;
}

.tascaComp {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

span {
  padding-left: 1em;
}

.tascaComponents {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 33vw;
  padding: 10px;
  border-radius: 25px;
  background-color: #cfa1fdbd;
}

.btnIcon {
  margin-left: auto;
  cursor: pointer;
} 