body {
   padding: 0;
   margin: 0;
   background-color: #c3c3c3bc;
}

.tetris {
    display: flex;
    justify-content: center;
}

.board {
    border: 1px solid black;
}

.row { 
    display: flex;
    flex-direction: row;
}

.cell {
    border: 2px inset #cdcdcd;
    padding: 14px;
}

.score {
    border: 1px solid green;
    width: 10vw;
}


@media (max-width: 600px) {
    * {
        --black: #1e1e1e;
        --white: #ffffff;
    }

    body {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
    }

    .tetris {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .score {
        width: 316px;
        height: 5vh;
    }
}